.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;

  &__copy {
    color: #aaa;
    margin: 6rem auto 0 auto;
    text-align: center;
    font-size: 1.4rem;
    width: 70%;
  }
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;

  &__link {
    text-decoration: none;
    font-family: $font-display;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    line-height: 1;
    display: block;
    transition: all 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      cursor: pointer;
      transform: translateY(-3px);
    }
  }
}
