.story {
  &__pictures {
    grid-column: full-start / col-end 4;
    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary-dark, 0.5)
      ),
      url(../img/back.jpg);

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    &__img--1 {
      width: 100%;
      grid-column: 2 / -2;
      grid-row: 2 / -2;
      align-self: center;
    }

    &__img--2 {
      width: 115%;
      grid-column: 4 / -1;
      grid-row: 4 / 6;
      align-self: center;
    }
  }

  &__content {
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    &__text {
      font-size: 1.5rem;
      font-style: italic;
    }

    &__btn {
      border: none;
      border-radius: 0;
      background-color: $color-primary;
      color: #fff;
      font-family: $font-display;
      padding: 1.8rem 3rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        background-color: $color-primary-dark;
      }
    }
  }
}
